@model SubmissionModel

@{
    ViewData["Title"] = "Submission Manager";
}

<h1>Submission Manager</h1>

<div class="container">
    <div class="row py-5">
        <div class="col h-100">
            <a asp-controller="Home" asp-action="Submit" class="text-decoration-none">
                <div class="card text-center py-5">
                    <h2 class="card-title text-black">Submit</h2>
                </div>
            </a>
        </div>
        <div class="col h-100">
            <a  asp-controller="Home" asp-action="CheckStatus" class="text-decoration-none">
                <div class="card text-center py-5">
                    <h2 class="card-title text-black">Check Submission Status</h2>
                </div>
            </a>
        </div>
    </div>
</div>

@if (Model.Message != null)
{
    <div class="d-flex justify-content-center">
        <div class="w-25 card p-3 align-items-center">
            <div>
                <p>@Model.Message</p>
            </div>
        </div>
    </div>

}

@if (Model.Id > 0)
{
    <div class="d-flex justify-content-center">
        <div class="w-25 card p-3 align-items-center">
            <div>
                <p>Thank you for your submission!</p>
                <p>Your submission ID is: @Model.Id</p>
            </div>
        </div>
    </div>
}